.new-body {
  height: 100vh;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: blue;
}

h2,
h3,
p,
a {
  color: rgb(45, 45, 45);
}

.image-dimensions {
  width: 300px;
  height: 300px;
}

.bg-col {
  background: linear-gradient(to bottom right, #dadada, royalblue);
}
